
.bg {
  background-image: url(../public/furniture.png);
  width: 1600px;
  height: 900px;
  background-size: cover;
  background-color: black;
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

/* //parent */
.Menubar {
display: flex;
width: 230px;
height: 230px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
flex-shrink: 0;
border-radius: 24px;
background: linear-gradient(135deg, rgba(79, 79, 79, 0.10) 0%, rgba(79, 79, 79, 0.10) 0.01%, rgba(255, 255, 255, 0.10) 32.81%, rgba(79, 79, 79, 0.10) 100%);
backdrop-filter: blur(40px);
border: 0.01px solid snow;
position: absolute;
top: 50%;
left: 45%;
padding: 10px;

}
/* //title */
.MenubarTitle {
margin-top: 5px;
width: 158px;
align-items: center;
gap: 16px;
border-radius: 48px;
color: grey;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 2rem!important;
font-family: revert;
}


.hoverEffectClass .MenubarTitle:hover {
  position: relative; 
  color: white;
  transform: scaleY(1.2);
  opacity: 0.8; 
}


.hoverEffectClass .Icon:hover {
  position: relative; 
  color: white;
  transform: scaleY(1.2);
  opacity: 0.8; 
}

.active .MenubarTitle {
  color: #f0f0f0;
}

.ulist .Icon .MenubarTitle:hover{
  /* font-size: 13px; */
  cursor: pointer;
}

/* //icon */
.Icon {
  color: white;
  border-radius: 50%;
  /* left:50%; */
  background: linear-gradient(135deg, rgba(240, 236, 236, 0.1) 0%, rgba(247, 241, 241, 0.1) 0.01%, rgba(233, 230, 230, 0.1) 32.81%, rgba(226, 221, 221, 0.1) 100%);
  border-radius: 50px; 
  border-width: 400%;
}



.active {
  background: linear-gradient(135deg, rgba(255, 253, 253, 0.1) 0%, rgba(247, 241, 241, 0.1) 0.01%, rgba(233, 230, 230, 0.1) 32.81%, rgba(226, 221, 221, 0.1) 100%);
  /* border: 1px solid  rgb(139, 135, 135);  */
  border-radius: 50px; 
  color: white;
  cursor: pointer;
  border: #f0f0f0;
  margin-bottom: 5px;

}
  

/* Define the animation keyframes */
@keyframes moveFromTopAnimation {
  0% {
      transform: translateY(-100%); /* Start position above the container */
  }
  100% {
      transform: translateY(0); /* End position at the container's top */
  }
}


@keyframes moveFromBottomAnimation {
  from {
    transform: translateY(100%);
  }
}

.moveFromBottom  {

  animation: moveFromBottomAnimation 1s ease-in-out;
  transform: translateY(-500%);
  transform: translateY(0);
   animation-duration: 0.3s;
}
