.abc:hover{
  border: "1px solid";
  border-radius:"5rem";
}

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg {
  background-image: url(../public/furniture.png);
  width: 1600px;
  height: 900px;
  background-size: cover;
  /* margin-left: 50px; */
  background-color: black;
  display: flex;

}

/* //parent */
.Menubar {
  margin-top: 20%;
  margin-left: 40%;
  
  width: 250px;
  height: 230px;
  /* padding: 10px; */
  border: 1px solid white;
  border-radius: 8%;

}

/* //title */
.MenubarTitle {
  color: grey;
  float: right;
}

/* Define the color to apply when hovering over the li element */
.hoverEffectClass .MenubarTitle:hover {
  color: #f0f0f0; /* You can change this color to your preferred hover color */
  cursor: pointer;
}




/* //icon */
.Icon {
  color: white;
  /* display: flex;
  flex-direction: row;
  margin-top: 7px;
  font-size: 20px; */
}

